# Ignore Images
*.jpg
*.jpeg
*.png
*.psd
*.webp
*.tiff
!/img/*.jpg

# Ignore Combine24objects.json
Combine24objects*.json

# Ignore Videos
*.avi
*.mp4
*.webm
*.mov

# Ignore all exports folder
exports/*

# Ignore .DS_Store
.DS_Store

# Ignore VSCode settings
.vscode/*
# Ignore Live Recordings
live_recordings/


# Ignore Open Call files (dossiers and pdfs and so on)
dossiers/*
!dossiers/with_emedemir/
!dossiers/with_emedemir/**/*.pdf

# # Ignore indesign files
*.indd
