# Ignore Images
*.jpg
*.jpeg
*.png
*.psd
!/img/*.jpg

# Ignore Combine24objects.json
Combine24objects*.json

# Ignore Videos
*.avi
*.mp4
*.webm

# Ignore .DS_Store
.DS_Store

# Ignore VSCode settings
.vscode/*